<script>
  // function ipLookUp () {
  //   $.ajax('http://ip-api.com/json')
  //     .then(
  //       function success(response) {
  //         console.log('User\'s Location Data is ', response);
  //         console.log('User\'s Country', response.country);
  //         // getAdress(response.lat, response.lon)
  //       },
  //
  //       function fail(data, status) {
  //         console.log('Request failed.  Returned status of',
  //           status);
  //       }
  //     );
  // }

  if ("geolocation" in navigator) {
    // check if geolocation is supported/enabled on current browser
    navigator.geolocation.getCurrentPosition(
      function success(position) {
        // for when getting location is a success
        console.log('latitude', position.coords.latitude,
          'longitude', position.coords.longitude);
      },
      function error(error_message) {
        // for when getting location results in an error
        console.error('An error has occurred while retrieving location', error_message);
        // ipLookUp();
      }
    );
  } else {
    // geolocation is not supported
    // get your location some other way
    console.log('geolocation is not enabled on this browser')
    // ipLookUp()
  }
</script>


<div style="text-align:center;">
  <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"
          style="cursor: pointer;background-color: green;color: white;font-size: 32px;"> Start Recording
  </button>
  <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"
          style="cursor: pointer;background-color: red;color: white;font-size: 32px;"> Stop Recording
  </button>


  <div>
    <p>Audio file and transcription will show up here:</p>
    <audio controls="" *ngIf="url">
      <source [src]="sanitize(url)" type="audio/wav">
    </audio>
  </div>

  <div *ngIf="showTranscription" class="transcription-table">
    <table>
      <tr>
        <td>
      <table>
      <tr>
        <td>ID</td>
        <td>{{speech.id}}</td>
      </tr>

      <tr>
        <td>Transcription</td>
        <td>{{speech.transcription}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{speech.status}}</td>
      </tr>
      <tr>
        <td>Sentiment</td>
        <td>{{speech.sentiment}}</td>
      </tr>
      <tr>
        <td>RemoteUrl</td>
        <td>{{speech.remoteUrl}}</td>
      </tr>
      <tr>
        <td>Last Update time from server</td>
        <td>{{speech.timeUpdated}}</td>
      </tr>
      </table>

      </td>
        <td>

          <span class="showImages">
            <span *ngIf="showUploadToFileStore">
              <img src="/assets/images/UploadedToCloudStorag.png">
            </span>
            <span *ngIf="showTranscriptionRequested">
              <img src="/assets/images/TranscriptioonInProgress.png">
            </span>
            <span *ngIf="showTranscriptionComplete">
              <img src="/assets/images/CompletedTranscribingAndSentiementAnalysis.png">
            </span>
          </span>

        </td>

      </tr>
    </table>

  </div>


</div>


